// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

//Bootstrap breakpoints, men custom breakpoint
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        mg: 850px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
        xxxl: 1950px,
);

// 2. Include any default variable overrides here
$link-decoration: none;
$black: #121212;
$white: #F9FEFF;

$primary: #01085E;
$secondary: #0078B7;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
        "farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

//--------------- BODY ---------------//
body {
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
}
//--------------- BODY ---------------//


//--------------- NAVBAR ---------------//
.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: $primary;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px -33px 49px -22px rgba(0,0,0,0.48);
}

.nav-item {
  color: white;
  font-size: 31px;
  text-decoration: none;
  padding-bottom: 20px;

  @include media-breakpoint-up(sm) {
    font-size: 34px;
  }

  @include media-breakpoint-up(md) {
    font-size: 37px;
  }

  @include media-breakpoint-up(mg) {
    font-size: 40px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 43px;
  }
}

.center-item {
  position: relative;
  width: 80px;
  height: 70px;
  top: -30px;
  padding-top: 15px;
  background-color: $primary;
  border-radius: 35%;
  display: flex;
  justify-content: center;
  align-items: center;


  @include media-breakpoint-up(md) {
    width: 83px;
    height: 73px;
  }

  @include media-breakpoint-up(mg) {
    width: 86px;
    height: 76px;
  }

  @include media-breakpoint-up(lg) {
    width: 91px;
    height: 81px;
  }
}

.center-btn {
  width: 55px;
  height: 55px;
  font-size: 31px;
  color: white;
  background-color: $secondary;
  border-radius: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  @include media-breakpoint-up(sm) {
    font-size: 34px;
  }

  @include media-breakpoint-up(md) {
    font-size: 37px;
    width: 58px;
    height: 58px;
  }

  @include media-breakpoint-up(mg) {
    font-size: 40px;
    width: 61px;
    height: 61px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 43px;
    width: 66px;
    height: 66px;
  }
}

.modal-dialog{
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
  max-width: none;

  @include media-breakpoint-up(sm) {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
  }

  @include media-breakpoint-up(md) {
    max-width: 500px;
  }

  @include media-breakpoint-up(mg) {
    max-width: 550px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 600px;
  }
}

.custom-modal{
  border-radius: 20px;
  border: none;
  background: $white;
  box-shadow: 0 10px 40px rgba(0,0,0,0.3);
  width: 100%;
  z-index: 9999;

  .modal-header{
    display: flex;
    justify-content: flex-end;
    padding: 15px 15px 0 0;
  }

  .btn-close{
    background-color: transparent;
    filter:invert(7%) sepia(87%) saturate(2855%) hue-rotate(213deg) brightness(91%) contrast(106%);
    border-radius: 50%;
    opacity: 1;
    margin: 15px 15px 0 0;

    &:hover{
      opacity: 0.8;
    }
  }
}

.kontaktmodaltekst{
  font-size: 16px;

  @include media-breakpoint-up(sm) {
   font-size: 18px;
  }

  @include media-breakpoint-up(md) {
    font-size: 18px;
  }

  @include media-breakpoint-up(mg) {
    font-size: 20px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 22px;
  }
}

.kontaktmodalicon{
  font-size: 20px;

  @include media-breakpoint-up(sm) {
    font-size: 24px;
  }

  @include media-breakpoint-up(md) {
    font-size: 28px;
  }

  @include media-breakpoint-up(mg) {
    font-size: 32px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 36px;
  }
}
//--------------- NAVBAR ---------------//


//--------------- H.CONTAINER ---------------//
.h-container {
  width: 100%;
  background-color: $white;
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
}
//--------------- H.CONTAINER ---------------//


//--------------- H.HEADER ---------------//
.h-header {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.h-logo {
  padding-left: 5px;
  width: 40px;
  height: auto;
  transition: 0.2s ease-in-out;
}

.h-search-bar {
  overflow: hidden;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s ease-in-out;
}

//BTN Hover effekt
.h-btn {
  transition-duration: 0.4s;
}

  .h-btn:hover {
    background-color: #014c94;
    color: white;
  }

//Header breakpoints (sm)
@include media-breakpoint-up(sm) {
  .h-search-bar {
    max-width: 450px;
  }

  .h-logo {
    padding-left: 10px;
    width: 55px;
    }
}

//Header breakpoints (md)
@include media-breakpoint-up(md) {
  .h-search-bar {
    max-width: 525px;
  }

  .h-logo {
    padding-left: 15px;
    width: 65px;
  }
}
//--------------- H.HEADER ---------------//


//--------------- H.CARDS ---------------//
.h-place-card {
  width: 260px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: white;
  overflow: hidden;

  .h-card-img {
    width: 100%;
    height: 140px;
    object-fit: cover;
  }

  .h-description-text {
    font-size: 0.8rem;
    color: #868989;
    overflow: hidden;
    line-height: 1.4;

    //viser kun 2 linjer og slutter med "..."
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
//--------------- H.CARDS ---------------//

//---------------Rapport--------------//

.page-rapport{
  background-color: $white;
}

.app-wrapper {
  max-width: 420px;
  margin: 0 auto;
  padding: 16px;
  background: #F4F6F8;
  min-height: 100vh;

  @include media-breakpoint-up(sm){
    max-width: 576px;
  }

  @include media-breakpoint-up(md){
    max-width: 768px;
    padding: 20px;
  }

  @include media-breakpoint-up(mg){
    max-width: 850px;
    padding: 24px;
  }
}


.r-header {
  display: flex;
  align-items: center;
  gap: 12px;
  background: $primary;
  color: white;
  padding: 20px 16px 60px 16px;

  @include media-breakpoint-up(md){
    padding: 30px 24px 80px 24px;
  }

  @include media-breakpoint-up(mg){
    padding: 40px 28px 90px 28px;
  }
}

.back-btn {
  color: white;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;

  @include media-breakpoint-up(mg){
    font-size: 24px;
  }
}

.custom-heading{
  font-size: 20px;
  margin: 0;

  @include media-breakpoint-up(md){
    font-size: 24px;
  }

  @include media-breakpoint-up(mg){
    font-size: 28px;
  }
}

.custom-icon {
  font-size: 20px;

  @include media-breakpoint-up(mg){
    font-size: 24px;
  }
}


.location-card {
  background: white;
  border-radius: 16px;
  padding: 12px 14px;
  margin-top: -40px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);

  @include media-breakpoint-up(md){
    padding: 16px;
  }

  @include media-breakpoint-up(mg){
    padding: 20px;
    border-radius: 20px;
  }

  .custom-h2 {
    font-size: 16px;
    margin: 0;

    @include media-breakpoint-up(md){
      font-size: 20px;
    }

    @include media-breakpoint-up(mg){
      font-size: 24px;
    }
  }

  .rating {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;

    @include media-breakpoint-up(md){
      font-size: 16px;
    }

    @include media-breakpoint-up(mg){
      font-size: 20px;
    }
  }

  .stars {
    color: $secondary;
  }

  .location-img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;

    @include media-breakpoint-up(md){
      width: 70px;
      height: 70px;
    }

    @include media-breakpoint-up(mg){
      width: 80px;
      height: 80px;
    }
  }
}

.section {
  margin-top: 20px;

  @include media-breakpoint-up(mg){
    margin-top: 28px;
  }

  .custom-h3 {
    font-size: 18px;
    margin-bottom: 10px;

    @include media-breakpoint-up(md){
      font-size: 20px;
    }

    @include media-breakpoint-up(mg){
      font-size: 22px;
    }

    span {
      color: gray;
      font-weight: normal;
      margin-left: 5px;
    }
  }
}


.check-item {
  background: $white;
  border-radius: 12px;
  padding: 10px 12px;
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-breakpoint-up(md){
    padding: 14px 16px;
    font-size: 20px;
  }

  @include media-breakpoint-up(mg){
    padding: 18px 20px;
    border-radius: 16px;
    font-size: 24px;
  }

  .icons i {
    font-size: 30px;
    margin-left: 14px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: white;

    @include media-breakpoint-up(md){
      width: 58px;
      height: 58px;
      font-size: 35px;
    }

    @include media-breakpoint-up(mg){
      width: 65px;
      height: 65px;
      font-size: 40px;
    }
  }

  .icons i.active {
    background: currentColor;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  }

  .happy {background: #16a31d;}
  .neutral {background: #f7e40f;}
  .sad {background: #e31b1b;}

}

.custom-textarea {
  width: 100%;
  height: 110px;
  border-radius: 12px;
  border: 2px solid #e0e0e0;
  padding: 10px;
  background: $white;
  resize: none;

  @include media-breakpoint-up(mg){
    height: 140px;
    padding: 14px;
  }
}


.upload-buttons {
  display: flex;
  gap: 10px;

  @include media-breakpoint-up(mg){
    gap: 14px;
  }
}

.upload-btn {
  flex: 1;
  background: $white;
  border: none;
  border-radius: 14px;
  padding: 12px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  font-size: 12px;
  opacity: 0.7;

  @include media-breakpoint-up(md){
    padding: 14px;
    font-size: 14px;
  }

  @include media-breakpoint-up(mg){
    padding: 18px;
    font-size: 14px;
  }
}


.upload-btn i{
  background: $secondary;
  color: $white;
  font-size: 18px;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;

  @include media-breakpoint-up(mg){
    width: 44px;
    height: 44px;
    font-size: 20px;
  }
}

.submit-btn {
  width: 70%;
  height: 48px;
  background: $secondary;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 14px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 16px;
  margin-left: 60px;

  @include media-breakpoint-up(md){
    width: 60%;
    height: 52px;
    margin-left: 140px;
  }

  @include media-breakpoint-up(mg){
    width: 50%;
    height: 56px;
    font-size: 18px;
    margin-left: 200px;
  }
}

.success-modal {
  border-radius: 20px;
  padding: 30px 20px;
  border: none;

  @include media-breakpoint-up(mg){
    padding: 40px 30px;
  }
}

// Grøn cirkel
.success-icon {
  width: 70px;
  height: 70px;
  background: #2ECC71;
  color: white;

  border-radius: 50%;
  font-size: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto 15px auto;

  @include media-breakpoint-up(mg){
    width: 90px;
    height: 90px;
    font-size: 40px;
  }
}

// "Tak!"
.success-title {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 8px;

  @include media-breakpoint-up(mg){
    font-size: 24px;
  }
}

// Tekst under
.success-text {
  font-size: 14px;
  color: #6c757d;
  margin: 0;

  @include media-breakpoint-up(mg){
    font-size: 16px;
  }
}

//---------------Rapport--------------//
